/*------Stiluri generale--------*/
* {
    box-sizing: border-box;
}

body {
    background: url(https://i.imgur.com/qiQ5ET7.jpg) no-repeat center center;
    background-size: cover;
}

.canvas {
    font-family: 'Arsenal', sans-serif;
    letter-spacing: .03125em;
    line-height: 1.5em;
    font-size: 110%;
    text-align: justify;
}

hr {
    margin: .625em 6.25em;
    border: .0625em solid rgba(0, 0, 0, .1);
    border-radius: 1.25em;
}

.container {
    margin: 30px;
}

/*------Stiluri header--------*/




/*-------Stiluri section----------*/








/*-----Stiluri footer---------*/
footer .container-fluid {
    text-align: left;
    margin: 50px;
}
